head
  title= title
  link(rel="stylesheet" href="/css/style.css")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(name="google-site-verification" content="_NIiNeS28rDxNW0sKLSRpxNUJYE-eksuJkbwWPfzUcM")
  link(rel="icon" type="image/png" href="icon/favicon.png")

  script(async src="https://www.googletagmanager.com/gtag/js?id=UA-92976585-2")

  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-92976585-2');
  