div.column.is-one-third-desktop.is-half-mobile
    a(href="./selection/"+itemSelection.key)
        div.itemSelection.card
            div.card-image
                figure.image.is-4by3
                    img.lazy(data-src=itemSelection.imageUrl src="/img/placeholder.png" alt="")
            div.card-content
                h3.title.is-5= itemSelection.title
                p.aligh-right
                    <i class='fas fa-video'></i> #{itemSelection.nbVideos} videos