div.column.is-one-quarter-desktop.is-half-mobile.is-3-tablet
    a.mediabox(href="https://www.youtube.com/watch?v="+itemVideo.youtubeId target="_blank")
        div.itemVideo.card
            div.card-image
                figure.image.is-4by3
                    img.lazy(data-src=itemVideo.urlImage src="/img/placeholder.png" alt="watch video "+itemVideo.title)
            div.card-content
                div.content
                    h3.title.is-5= itemVideo.title
                    time
                        if !itemVideo.type
                            =  "tango " + moment(itemVideo.datePublication).format("YYYY/MM/DD")
                        else
                            = itemVideo.type + " " + moment(itemVideo.datePublication).format("YYYY/MM/DD")
                    if(role=="admin")
                        .admin
                            if(itemVideo.topVideo==1)
                                a.setTopVideo.button(href="#" data-video=itemVideo.key data-mode=0)
                                    i.fas.fa-trash
                                    |Remove from top videos   
                            else
                                a.setTopVideo.button(href="#" data-video=itemVideo.key data-mode=1)
                                    i.fas.fa-star
                                    |Add to top videos
                                                           
