doctype html
html
  include includes/head.pug
  body
    include includes/menu.pug
    div.container.padding
        section.section
            div.container.padding
                h1.title.is-1= title
                div.content
                    h2.title.is-2= imports

    include includes/footer.pug
