doctype html
html
  include includes/head.pug
  body
    include includes/menu.pug

    section.section
      div.container.padding
        h1.title.is-1= title
        
        div#maestroList
          .field
            p.control.has-icons-left.has-icons-right
              input.input.is-large.search(type="text" placeholder="Find a maestro")
              span.icon.is-small.is-left
                i.fas.fa-search    

          div.myList.columns.maestros.is-multiline.is-mobile
            each itemMaestro,index in maestros
              include includes/itemMaestro.pug
    
    include includes/footer.pug