doctype html
html
  include includes/head.pug
  body
    include includes/menu.pug
    div.container.padding
        section.section
            header
                div.box
                    article.media
                        div.media-content
                            div.content
                                h1.title.is-1= title

                div.videosList.columns.is-multiline.is-mobile
                    each itemVideo in playlist.videos
                        include includes/itemVideo.pug


    include includes/footer.pug