doctype html
html
  include includes/head.pug
  body
    include includes/menu.pug

    section.section
      div.container.padding
        h1.title.is-2= title

        div.columns.selectionList.is-multiline.is-mobile
          each itemSelection,index in selections
            include includes/itemSelection.pug
    
    include includes/footer.pug