html
  include includes/head.pug
  body
    include includes/menu.pug
    div.container.padding
        section.section
            header
                div.box
                    article.media
                        div.media-left
                            figure.image.is-128x128
                                img(src=selection.imageUrl)
                        div.media-content
                            div.content
                                h1.title.is-1= title
                                div.descriptionSelection=selection.description

                div.videosList.columns.is-multiline.is-mobile
                    each itemVideo in selection.videos
                        include includes/itemVideo.pug


    include includes/footer.pug