//Couleurs de bulma
$primary:#cd6858;

$button-background-color:$primary;
$button-color:white;
$button-hover-border-color:rgb(139, 139, 139);

@import "../../node_modules/bulma/bulma.sass";
$fa-font-path: "/webfonts";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/v4-shims.scss";

/*
@font-face {
    font-family: "imogen-agnes";
    src: url("../webfonts/imogen-agnes/OTF/ImogenAgnes.otf") format("opentype");
}
*/

//mes couleurs
$fondpage:#686260;
$footer:rgb(29, 29, 29);



.is-centered{
    text-align:center;
}

.is-hidden{
    display:none;
}

/*
.fury{
    font-family:'imogen-agnes','Roboto',sans-serif;
    font-size:2em;
    color:$primary;
}
*/

body {
    background-color: $fondpage;
  }

.footer{
    background-color: $footer;
    color:white;
}

i{
    margin-left:5px;
    margin-right:5px;
}

.dropdown{
    margin-bottom:20px;
}

.right{
    text-align:right;
}

li{
    list-style-type:none;
}

.bloc{
    margin-top:30px;
}


.title{
    color:white;
}

nav.panel{
    background:white;
}

.card-content{
    .title{
        color:black;
    }
}

.cptVideos {
    color:white;
    position: absolute;
    text-shadow: rgb(68, 68, 68) 1px 1px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:10;
    font-weight:bold;
    text-align:center;
    .counterVideos{
        font-size:2.3em;
    }
  }

p{
    margin-bottom: 20px;
}

@media screen and (max-width: 640px) {
    .title.is-2{
        font-size:1.8rem;
    }
}